################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Build/vs2015
/bin/Debug_X32
/Build/ObjOut/vs2015/ActorXmlToCPP/Debug/X32
